@import url('https://fonts.googleapis.com/css?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@media only screen and ( max-width: 650px ) {
    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px;
    }
    nav > ul {
        margin-top: 10px;
        flex-wrap: wrap;
    }
    .product-main-content, .architecture {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .product-main-content {
        padding: 50px;
    }
    .product-text {
        width: 100%;  
        margin-bottom: 15px;
    }
    .main-content {
        padding-top: 50px;
    }
    .shop-video > iframe {
        width: 280px;
        height: 157.5px;
    }
    .footer > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer > p{
        text-align: center;
    }
    .specs-table {
        width: 20px;
    }
    .spec-value {
        width: 10px;
    }
    .spec-char {
        padding: 5px 5px;
        height: 5px;
       }
}

@media ( min-width: 320px) {
    .email-submit {
        width: 250px;
        margin: 0 auto;
    }
}

@media ( min-width: 800px ) {
    .product-text {
        width: 70%;
    }
    .email-submit {
        margin: 0;
        width: 400px;
    }
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color-1: #171717;
    --background-color-2: #F4F8EC;
    --background-color-3: #292929;
}

::selection {
    background-color: #69BA2F;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color-1);
}

img {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: #69BA2F;
}

a:hover {
    transition: 0.2s;
    color: #43781E;
}

a:active {
    color: #305516;
}

/* Here goes all the navbar elements */
nav {
    background-color: var(--background-color-1);
    font-family: Gugi;
    font-weight: bold;
    font-size: 14.5px;
    width: 100%;
    padding: 20px 65px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul > li {
    list-style: none;
    margin: 0 10px;
}

nav ul li > a {
    border-bottom: 2px solid transparent;
    color: #C2EBE5;
}

nav ul li > a:hover {
    border-bottom: 2px solid #5E7B2A;
    color: #AED0CA;
}

nav ul li > a:active {
    border-bottom: 2px solid #3B4E1A;
    color: #546562;
}
/* */

.architecture, .quote, .specs, .shop {
    color: white;
    text-align: center;
}

.quote, .specs {
    background-color: var(--background-color-3);
}

.logo > img {
    /* filter: saturate(500%) contrast(800%) brightness(0%)  */
      /* invert(80%) sepia(50%) hue-rotate(120deg);  */
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}

.site-wrapper {
    position: relative;
}

/* Here goes the product main content elements */
.product-main-content {
    background: linear-gradient(45deg, #171717 25%, #1c1c1c, #242424, #303030); 
    color: white;
    width: 100%;
    padding: 64px 64px 100px;
    margin: 60px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}

.product-text {
    word-wrap: break-word;
}

.product-image {
    width: 50vw;
}

.mc-title {
    font-size: 28px;
}

.mc-subtitle {
    margin: 10px 0;
}

.mc-description {
    color: #E9E9E9;
    margin-bottom: 5px;
}

.email-submit {
    display: flex;
    flex-direction: column;
}

.email-submit > * {
    margin: 5px 0;
}

.email-input, .email-submit-button {
    border: 3px solid #060606;
}

.email-input {
    border-radius: 0;
    padding: 0.5em;
}

.email-submit > .button {
    width: 90px;
}

.button {
    font-family: Gugi;
    background-color: #8CB83F;
    color: black;
    border: 3px solid #060606;
    text-transform: uppercase;
    font-weight: bold;
    align-self: center;
    height: 45px;
    padding: 0.8em;
    word-wrap: break-word;
}

.button:hover {
    cursor: pointer;
    transition: 0.1s;
    background-color: #5E7B2A;
}

.button:active {
    transition: 0.05s;
    background-color: #3F531C;
    color: white;
}

/* */

/* Here goes all the "Architecture" and quote elements */
.quote {
    padding: 60px 0;
}

.quote blockquote > p {
    font-size: 32px;
    margin-bottom: 32px;
}

.quote blockquote > p::after {
    content: '" '
}

.quote blockquote > p::before {
    content: ' "'
}

.quote blockquote > figcaption {
    font-size: 12px;
}

.architecture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 75px;
}

.architecture-image {
    width: 40vw;
}

.architecture-image > img {
    border-radius: 50%;
}

.arc-title > * {
    margin: 15px 0;
}

.arc-chars {
    margin: 40px 5px;
    text-align: left;
}

.arc-chars > ul {
    list-style-type: none;
}

.arc-chars ul > li {
    margin: 15px 0;
}

.arc-chars ul li > * {
    margin: 10px 0;
}

.arc-chars ul li > h3::before {
    content: "■";
    margin-right: 5px;
    color: #5E7B2A;
}

.arc-chars ul li > p {
    font-size: 12px;
}

/* */

/* Here goes all the "Specs" elements */
.specs {
    padding: 35px 0;
}

.table-wrapper {
    margin: 10px 0;
    padding: 10px 0;
}

.table-wrapper > a {
    margin: 20px 0;
    display: block;
    font-weight: bold;
}

.specs-table {
    margin: 20px auto;
}

.spec-container {
    margin: 5px 0;
}

.spec-container > .spec-char {
    text-align: left;
    font-size: 12px;
    border-top: 2px solid white;
    color: white;
    width: 500px;
    height: 80px;
}

.spec-container > .spec-value {
    text-align: right;
    border-top: 2px solid #779c36;
    color: #779c36;
}

/* */

/*Here goes all the "Shop" elements */

.shop {
    padding: 40px 0;
}

.shop-description {
    padding: 40px 0;
}

.shop-description > * {
    margin: 10px 0;
}

/* */ 

/* Here goes all the footer elements */
.footer {
    background-color: var(--background-color-1);
    color: white;
    padding: 20px 25px;
    font-size: 12px;
    text-align: right;
}


.footer > ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.footer ul > li {
    font-size: 10px;
}

.footer ul > li::before {
    content: " | ";
    margin: 0 5px;
}

.footer ul li > a {
    color: #E9E9E9;
}

.footer ul li > a:hover {
    color: #818181;
}